.popup__name-field {
  padding: 8px 0 8px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 700px) {
  .popup__name-field {
    font-size: 14px;
    line-height: 17px;
  }
}
