.popup__occupation-field {
  padding-top: 7px;
  padding-bottom: 8px;
  margin-top: 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 700px) {
  .popup__occupation-field {
    font-size: 14px;
    line-height: 17px;
  }
}
