.popup__save-button {
  padding: 0;
  margin-top: 46px;
  color: #fff;
  background-color: #000;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  min-height: 50px;
  border: none;
}

@media (max-width: 700px) {
  .popup__save-button {
    font-size: 14px;
    line-height: 17px;
    min-height: 46px;
  }
}
